parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # PubSub: Pusher credentials
    pusher.mock:       false
    pusher.app_key:    xxxxxx
    pusher.app_secret: xxxxxx
    pusher.app_id:     111111


    # Redis
    redis.dsn:         redis://localhost
