{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

{# TODO: Change it to correct route #}
<a href="{{ path('default_index') }}">Start a game</a>
{% endblock %}
